
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    BASIC  STYLES    
    =============================================*/
body {
    font-family: Calibri;
    line-height:25px;
    margin: 0;
    font-size: 14px;
}

#wrapper {

    width: 100%;
    background: #1e2e3b;
}

#page-wrapper {
    margin: 0px, 0px, 200px;
    padding: 15px 15px;
    min-height: 716px;
    background: #C9C9C9;
}

#page-inner {
    width: 100%;
    margin: 0px 20px 0px 0px;
    background-color: #C9C9C9!important;
    /*padding: 2px;*/
    min-height: 716px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    /*border-bottom: 2px solid #00CA79;*/
    border-bottom: 2px solid #4380B8;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;
    border-bottom: 1px dashed #4380B8;

}


/*==============================================
    MENU STYLES    
    =============================================*/


.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #1e2e3b;
    width: 200px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 15px;
    text-transform:uppercase;
}

.header-right {
    color: #fff;
    /*padding: 5px 50px;*/
    float: right;
    font-size: 17px;
    font-weight:bold;
    /*margin-right: 70px;*/
}

.navbar-cls-top .navbar-brand:hover {
    background: #1e2e3b;
    color: #fff;
}

.user-img-div {
    min-height: 100px;
    padding: 10px;
    background-color: #808080;
}

    .user-img-div img {
        max-height: 60px;
    }

    .user-img-div .inner-text {
        text-align: right;
        position: relative;
        color: #fff;
        font-weight: 800;
        line-height: 25px;
    }

.active-menu {
    /*background-color: #00CA79!important;*/
    background-color: #88BD23!important;
}
.active-menu-top {
    background-color: #000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
            color: #fff;
            background: #1e2e3b;
            text-shadow: none;
            padding: 15px 40px;
            border-bottom: 1px solid #1e2e3b;
        }

    .sidebar-collapse > .nav > li > a {
        padding: 15px 20px;
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus,
    .sidebar-collapse .nav > li > a:active {
        background: #88BD23;
        outline: 0;
    }



.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #1e2e3b;
}

.navbar-cls-top {
    /*background: #00CA79;*/
    background: rgb(136, 189, 35);
    border-bottom: none;
}


.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: #000000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    /*background-color: #00CA79;*/
    background-color: rgb(136, 189, 35);
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
}
/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color: #D6D6D6;
    /*border-top: 1px solid black;*/
    /*padding:5px 50px;*/
    color: #000;
    font-size:12px;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#fff;
        text-decoration:none;
    }
/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 200px;
        padding: 2px 0px;
        min-height: 729px;
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 200px;
    }

    .navbar {
        border-radius: 0px;
    }
}

.form-controlOverride {
  /*display: block;*/
  width: 70%;
  /*height: 34px;*/
  /*padding: 6px 12px;*/
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.glyphicon {
    margin-right: 4px !important; /*override*/
}

.pagination .glyphicon {
    margin-right: 0px !important; /*override*/
}

.pagination a {
    color: #555;
}

.panel ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
}